[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/themes/erblog"]
	path = themes/themes/erblog
	url = https://github.com/ertuil/erblog
[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/ertuil/erblog
